.vs/
v17/
ipch/
x64/
Debug/
Release/

**/.vs/
**/v17/
**/ipch/
**/x64/
**/Debug/
**/Release/

*.user
*.suo
*.db
*.opendb
*.sqlite
*.ipch
*.obj
*.pdb
*.ilk
*.tlog
*.lastbuildstate
*.recipe
*.log
*.vsidx
*.VC.db
*.VC.opendb
*.json.backup
*.exe
*.dll